<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <!-- Jinja Templating -->
     <h1 >Name: {{name}}</h1>
     <p>Url -> {{ url_for('static', filename='css/home.css') }}</p>
    <h1 id="home">HomePage</h1>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>